@import './vars';

body {
  transition: var(--transition-default);
}
body.dark-mode {
  background-color: var(--darkbackground-color);
  color: var(--white-color);
}
body footer {
  transition: var(--transition-default);
}
body.dark-mode footer {
  background-color: var(--background-color-dark-theme);
}

// darkmode switcher
body .toggle__input {
  transition: var(--transition-default);
  background-color: var(--black-color);
}
body.dark-mode .toggle__input {
  background-color: var(--white-color);
}
body .toggle__icon {
  transition: var(--transition-default);
  fill: var(--white-color);
  width: 20px;
  height: 20px;
}

body .sun {
  transition: var(--transition-default);
  fill: var(--white-color);
  width: 20px;
  height: 20px;
}

body.dark-mode .moon {
  transition: var(--transition-default);
  stroke: var(--white-color);
  fill: var(--black-color);
  width: 20px;
  height: 20px;
}

body.dark-mode .toggle__icon {
  stroke: var(--black-color);
  fill: var(--black-color);
  width: 20px;
  height: 20px;
}

// filter
body .filter__button {
  transition: var(--transition-default);
  background-color: var(--accent-color);
  color: var(--white-color);
}
body.dark-mode .filter__button {
  background-color: var(--accent-color);
  color: var(--white-color);
}
body .filter__button:hover,
body .filter__button:focus,
body .filter_is_active {
  color: var(--black-color);
}
body.dark-mode .filter__button:hover,
body.dark-mode .filter__button:focus,
body.dark-mode .filter_is_active {
  color: var(--black-color);
}

// modal
body .modal {
  transition: var(--transition-default);
  background-color: var(--background-color);
}
body.dark-mode .modal {
  background-color: var(--darkbackground-color);
}
// body .modal__icon__close {
// }
// body.dark-mode .modal__icon__close {
//   fill: var(--white-color);
// }
body .modal__title {
  color: var(--black-color);
}
body.dark-mode .modal__title {
  color: var(--white-color);
}
body .modal__list-left {
  color: var(--black-color);
}
body.dark-mode .modal__list-left {
  color: var(--white-color);
}
body .modal__list-votes {
  color: var(--black-color);
}
body.dark-mode .modal__list-votes {
  color: var(--black-color);
}
body .modal__descrpt {
  color: var(--black-color);
}
body.dark-theme .modal__descrpt {
  color: var(--white-color);
}

// Team modal
body .team-modal {
  transition: var(--transition-default);
}
body.dark-mode .team-modal {
  background-color: var(--darkbackground-color);
}
body .footer-team-members {
  transition: var(--transition-default);
  color: var(--text-color-footer);
}
body.dark-mode .footer-team-members {
  color: var(--white-color);
}
body .icon-close {
  fill: var(--black-color);
  stroke: var(--black-color);
}
body.dark-mode .icon-close {
  fill: var(--white-color);
  stroke: var(--white-color);
}
body .modal-title {
  color: var(--text-color-footer);
}
body.dark-theme .modal-title {
  color: #d3d3d3;
}

// Gallery
body .gallery__title {
  transition: var(--transition-default);
}
body.dark-mode .gallery__title {
  color: var(--white-color);
}

// Scroll button
body .scroll__icon:hover,
body .scroll__icon:focus {
  fill: #000;
}
body.dark-mode .scroll__icon:hover,
body.dark-mode .scroll__icon:focus {
  fill: var(--white-color);
}

// Pagination
body .arrow-left,
body .arrow-right {
  background-color: #f7f7f7;
  fill: var(--black-color);
}
body.dark-mode .arrow-left,
body.dark-mode .arrow-right {
  background-color: var(--black-color);
  fill: var(--white-color);
}
body .pagination-button {
  color: var(--black-color);
}
body.dark-mode .pagination-button {
  color: var(--white-color);
}
body .pagination-button:hover {
  color: #fff;
  background-color: #b92f2c;
}
body.dark-mode .pagination-button:hover {
  color: #fff;
  background-color: #b92f2c;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--darkbackground-color);
    color: var(--white-color);
    transition: var(--transition-default);
  }
  body.light-mode {
    background-color: var(--background-color);
    color: var(--black-color);
  }
  body footer {
    transition: var(--transition-default);
  }
  body.light-mode footer {
    background-color: var(--background-footer-color);
  }

  // darkmode switcher
  body .toggle__input {
    transition: var(--transition-default);
    background-color: var(--white-color);
  }
  body.light-mode .toggle__input {
    background-color: var(--black-color);
  }
  body .toggle__icon {
    transition: var(--transition-default);
    stroke: var(--black-color);
    fill: var(--black-color);
    width: 20px;
    height: 20px;
  }
  body.light-mode .toggle__icon {
    stroke: var(--white-color);
    fill: var(--white-color);
    width: 20px;
    height: 20px;
  }

  // filter
  body .filter__button {
    transition: var(--transition-default);
    background-color: var(--accent-color);
    color: var(--white-color);
  }
  body.light-mode .filter__button {
    background-color: var(--white-color);
    color: var(--black-color);
  }
  body .filter__button:hover,
  body .filter__button:focus,
  body .filter_is_active {
    color: var(--black-color);
    background-color: var(--white-color);
  }
  body.light-mode .filter__button:hover,
  body.light-mode .filter__button:focus,
  body.light-mode .filter_is_active {
    color: var(--background-color);
    background-color: var(--accent-color);
  }

  // modal
  body .modal {
    transition: var(--transition-default);
    background-color: var(--darkbackground-color);
  }
  body.light-mode .modal {
    background-color: var(--background-color);
  }
  body .modal__title {
    color: var(--white-color);
  }
  body.light-mode .modal__title {
    color: var(--black-color);
  }
  body .modal__list-left {
    color: var(--white-color);
  }
  body.light-mode .modal__list-left {
    color: var(--black-color);
  }
  body .modal__list-votes {
    color: var(--black-color);
  }
  body.light-mode .modal__list-votes {
    color: var(--black-color);
  }
  body .modal__descrpt {
    color: var(--white-color);
  }
  body.light-mode .modal__descrpt {
    color: var(--black-color);
  }

  // Team modal
  body .team-modal {
    transition: var(--transition-default);
  }
  body.light-mode .team-modal {
    background-color: var(--background-color);
  }
  body .footer-team-members {
    transition: var(--transition-default);
    color: var(--white-color);
  }
  body.light-mode .footer-team-members {
    color: var(--text-color-footer);
  }
  body .icon-close {
    fill: var(--white-color);
    stroke: var(--white-color);
  }
  body.light-mode .icon-close {
    fill: var(--black-color);
    stroke: var(--black-color);
  }
  body .modal-title {
    color: #d3d3d3;
  }
  body.light-theme .modal-title {
    color: var(--text-color-footer);
  }

  // Gallery
  body .gallery__title {
    transition: var(--transition-default);
  }
  body.light-mode .gallery__title {
    color: var(--black-color);
  }

  // Scroll button
  body .scroll__icon:hover,
  body .scroll__icon:focus {
    fill: var(--white-color);
  }
  body.light-mode .scroll__icon:hover,
  body.light-mode .scroll__icon:focus {
    fill: #000;
  }

  // Pagination
  body .arrow-left,
  body .arrow-right {
    background-color: var(--black-color);
    fill: var(--white-color);
  }
  body.light-mode .arrow-left,
  body.light-mode .arrow-right {
    background-color: #f7f7f7;
    fill: var(--black-color);
  }
  body .pagination-button {
    color: var(--black-color);
  }
  body.dark-mode .pagination-button {
    color: var(--white-color);
  }
  body .pagination-button:hover {
    color: #fff;
    background-color: #b92f2c;
  }
  body.dark-mode .pagination-button:hover {
    color: #fff;
    background-color: #b92f2c;
  }
}
