
.gallery {
  display: grid;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  max-width: calc(320px - 40px);
  grid-column-gap: 16px;
  grid-row-gap: 32px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  justify-content: left;
  @media screen and (min-width: 768px) {
    max-width: 768px;
    grid-column-gap: 32px;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    grid-column-gap: 16px;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
  }
}

.gallery__item {
  width: 320px;
  display: flex;
  flex-direction: column;
  position: relative;
  break-inside: avoid;
  
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    // margin: 15px;
    width: calc((100% - 60px) / 2);
  }
  @media screen and (min-width: 1280px) {
    width: calc((100% - 40px) / 3);
  }
  border-radius: 10px;
  cursor: pointer;
}
.gallery__item:hover{
  transform: scale(1.03) translateZ(0);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__wrap {
  padding: 10px 10px 0px 3px;
}

.gallery__img {
  border-radius: inherit;
  display: block;
  max-width: 100%;
  height: auto;
  box-shadow: 0px 3px 4px 1px rgba(44, 133, 200, 0.2);
}

.gallery__title {
  font-family: 'Roboto';
  font-weight: 800;
  font-size: 12px;
  line-height: calc(16/12);
  margin-top: 0;
  margin-bottom: 0;
  
  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: calc(24/20);
  }
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000000;
}

.gallery__genre-text{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  display: inline-block;
  color: #B92F2C;
  margin-top: 0;
  margin-bottom: 0;
}
.gallery__date,
.gallery__rank{
  position: relative;
  display: inline-block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  color: #B92F2C;
  margin-left: 5px;
  margin-top: 0;
  margin-bottom: 0;
}