@import 'vars';

.link {
  text-decoration: none;
}

// =================HEADER=================

.header {
  background-image: url('../images/header/abstract-background-with-red-lines-mobile1x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 460px;
  border-radius: 10px;
  margin: 20px 20px 0 20px;
}

// .header__container {
//   max-width: 320px;
//   padding-top: 20px;
//   padding-right: 20px;
//   margin: 0 auto;
// }

.header__container {
  position: relative;
}

// =================NAVIGATION=================
.nav__list {
  padding: 0;
  display: flex;
  margin: 0 0 8px 14px;
}

.nav__item {
  margin-top: 14px;
  list-style: none;
}
.nav__item:not(:last-child) {
  margin-right: 4px;
}

.nav__link {
  //   width: 87px;
  display: inline-block;
  padding: 10px 26px;
  background-color: var(--white-color);
  border-radius: 100px;
  text-transform: uppercase;
  font-size: 12px;
  color: var(--black-color);
//   transition: 1s;
}

.nav__link:hover,
.nav__link:focus{
    color: var(--accent-color);
    // transform: scale(1.2);
}

.current-link {
  background-color: var(--black-color);
  color: var(--white-color);
}

// =================SEARCH FORM=================
.search__form {
  position: relative;
  margin-left: 14px;
}

.search__input {
  padding: 10px 26px;
  background-color: var(--white-color);
  border-radius: 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--black-color);
  width: 252px;
  border: none;
}

.search__submit-button {
  background-color: var(--white-color);
  position: absolute;
  top: 2px;
  right: 15px;
  width: 31px;
  height: 31px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

.search__icon {
  width: 20px;
  height: 20px;
}

// =================LOGO=================

.logo__icon {
  width: 32px;
  height: 32px;
}

.logo__title {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: var(--white-color);
}

.logo__link {
  position: relative;
  left: 45px;
  top: 320px;

  align-items: center;
  display: inline-flex;
  gap: 8px;
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1280px) {

}
