@import 'base';
@import 'vars';
@import 'reset';
@import 'container';


// =================HEADER=================

.header {
  background-image: url('../images/header/abstract-background-with-red-lines-mobile3x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 460px;
  border-radius: 10px;
  // margin: 20px 20px 0 20px;
}

// .header__container {
//   max-width: 320px;
//   padding-top: 20px;
//   padding-right: 20px;
//   margin: 0 auto;
// }

.header__container {
  position: relative;
}

// =================NAVIGATION=================
.nav__list {
  padding: 0;
  display: flex;
  // margin: 0 0 8px 14px;
}

.nav__item {
  margin-top: 14px;
  list-style: none;
}
.nav__item:not(:last-child) {
  margin-right: 4px;
}

.nav__link {
  //   width: 87px;
  display: inline-block;
  padding: 10px 26px;
  background-color: var(--white-color);
  border-radius: 100px;
  text-transform: uppercase;
  font-size: 12px;
  color: var(--black-color);
  //   transition: 1s;
}

.nav__link:hover,
.nav__link:focus {
  color: var(--accent-color);
  // transform: scale(1.2);
}

.current-link {
  background-color: var(--black-color);
  color: var(--white-color);
}

// =================SEARCH FORM=================
.search__form {
  position: relative;
  // margin-left: 14px;
  // margin-right: 14px;
  margin-top: 8px;
}

.search__input {
  padding: 10px 26px;
  background-color: var(--white-color);
  border-radius: 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--black-color);
  width: 100%;
  border: none;
}

.search__submit-button {
  background-color: var(--white-color);
  position: absolute;
  top: 2px;
  right: 5px;
  width: 31px;
  height: 31px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

.search__icon {
  width: 14px;
  height: 14px;
}

// =================LOGO=================

.logo__icon {
  width: 32px;
  height: 32px;
}

.logo__title {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: var(--white-color);
}

.logo__link {
  position: relative;
  left: 45px;
  top: 320px;
  align-items: center;
  display: inline-flex;
  gap: 8px;
}

@media screen and (min-width: 768px) {
  .header {
    background-image: url('../images/header/abstract-background-with-red-lines-tablet3x.jpg');
    height: 222px;

    // margin: 32px 32px 0 32px;
  }

  .nav__link {
    padding: 12px 24px;
  }

  .search__form {
    position: absolute;
    top: 14px;
    left: 16px;
    margin-top: 0;
  }

  .search__input {
    width: 165px;
    padding: 10px 16px;
    font-size: 14px;
  }

  .search__submit-button {
    top: 0px;
    right: 5px;
    width: 40px;
    height: 38px;
    border-radius: 100px;
  }

  .search__icon {
    width: 16px;
    height: 16px;
  }
  

  .nav__list {
    margin: 0 0 8px 185px;
  }

  .logo__link {
    left: -510px;
    top: 150px;
  }

  .logo__icon {
    width: 40px;
    height: 40px;
  }

  .logo__title {
    font-size: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    background-image: url('../images/header/abstract-background-with-red-lines-desktop3x.jpg');
    height: 316px;
    // margin: 32px 32px 0 32px;
  }

  .nav__list {
    margin: 0 0 0 227px;
  }

  .nav__link {
    padding: 14px 32px;
  }

  .search__input {
    // width: 187px;
    width: 100%;
    padding: 12px 16px;
    font-size: 14px;
  }
  .search__form {
    top: 13px;
    left: 32px;
  }

  .search__submit-button {
    top: 1px;
    right: 5px;
    width: 40px;
    height: 40px;
    border-radius: 100px;
  }

  .logo__link {
    left: -865px;
    top: 230px;
  }

  .logo__title {
    font-size: 64px;
  }
  .logo__icon {
    width: 59px;
    height: 59px;
  }
}