html {
  box-sizing: border-box;
  font-family: 'Roboto';
}

ul,li{
  list-style-type: none;
}

body {
  font-family: 'Roboto Regular', sans-serif; /* Использование Roboto Regular в качестве основного шрифта */
  font-weight: 400; /* Задание начертания Regular */
}

h2 {
  font-family: 'Roboto Medium', sans-serif; /* Использование Roboto Medium в заголовках h1 */
  font-weight: 500; /* Задание начертания Medium */
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

body.show-modal .backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body.show-modal {
  overflow-y: hidden;
}

.modal__btn {
  border: 1px solid var(--black-color);
  color: var(--accent-color);
  align-items: center;
  height: 34px;
  border-radius: 100px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  transition: .3s linear;
  cursor: pointer;
  width: 125px;
}

.modal__btn:hover {
  background-color: var(--accent-color);
  color: var(--white-color);
  border: none;
}

.modal__btn-list {
  display: flex;
  justify-content: space-between;

  @media (min-width: 1280px) {
    justify-content: flex-start;
  }
}

.modal__btn-close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 50;
}
.modal{
  font-size: 12px;
  line-height: 1.7;
  border-radius: 5px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  visibility: hidden;  
  padding: 48px 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  text-align: left;
  width: 280px;

  @media screen and (max-width: 767px) {
   
    top: 20px;
    left: 50%;
    transform: translateX(-50%) scale(0.8);
  }

  @media screen and (min-width: 768px) {
    padding-top: 40px;
    padding-right: 72px;
    padding-bottom: 40px;
    padding-left: 36px;
    width: 704px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
  }

  @media screen and (min-width: 1280px) {
    min-width: 806px;
    padding-left: 12px;
    padding-right: 12px;
  }

  &__list {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #8c8c8c;
    padding: 0;
  }

  &__list-item:not(:last-child) {
    margin-bottom: 8px;
  }
  &__list-item:not(:last-child).modal__left {
    margin-bottom: 10px;
  }

  &__list-left {
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14 / 12);
    color: #000000;
  }

  &__list-vote {
    padding: 1px 9px;
    background: #B92F2C;
    border-radius: 5px;

    color: #ffffff;
  }

  &__list-slesh {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #8c8c8c;
  }

  &__list-votes {
    padding: 1px 9px;
    background: #f7f7f7;
    border-radius: 5px;
  }

  &__subtitle {
    margin-bottom: 8px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(16 / 12);
  }

  &__descrpt {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(20 / 12);
    overflow: auto;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      margin-bottom: 36px;
    }
  }

  &__btn-list {
    display: flex;
    gap: 20px;

    @media screen and (min-width: 768px) {
      gap: 15px;
    }

    @media screen and (min-width: 1280px) {
      padding: 0;
    }
  }

  &__btn-trailer {
    margin-bottom: 20px;
    min-width: 150px;
    gap: 5px;

    @media screen and (min-width: 1280px) {
      margin-left: 25px;
    }
  }

  &__icon-youtube {
    width: 30px;
  }

  &__trailer {
    padding-top: 16px;
  }
}

.modal__list-right {
  font-size: 12px;
  line-height: 1.3;
  color: var(--text-color-modal);
  display: inline-block;
  min-width: 72px;
  margin-right: 40px;
}

.modal__wrap {
   display: block;

    @media screen and (min-width: 768px) {
      display: flex;
    }
  }

.modal__list-vote {
  background-color: var(--accent-color);
  color: var(--white-color);
  display: inline-block;
  width: 36px;
  height: 16px;
  margin-right: 3px;
  border-radius: 5px;
  text-align: center;
  font-family: Roboto,sans-serif;
  font-size: 12px;
  line-height: 1.3;
}

.modal__list-slash {
  color: var(--text-color-modal);
}

.modal__list-votes {
  color: var(--black-color);
  background-color: var(--background-footer-color);
  margin-left: 3px;
  display: inline-block;
  width: 36px;
  height: 16px;
  margin-right: 3px;
  border-radius: 5px;
  text-align: center;
  font-family: Roboto,sans-serif;
  font-size: 12px;
  line-height: 1.3;
}

.modal__img {
  min-width: 240px;
  height: 356px;
  margin-bottom: 30px;
  display: block;
  border-radius: 5px;
   
    @media screen and (min-width: 768px) {
      min-width: 264px;
      max-height: 374px;
      margin-right: 68px;
      margin-bottom: 0;
    }

    @media screen and (min-width: 1280px) {
      min-width: 375px;
      min-height: 478px;
      margin-right: 16px;
    }
  }

  .modal__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.15;
    margin-bottom: 20px;
   
    @media screen and (min-width: 1280px) {
      margin: 0;
      font-size: 30px;
      line-height: calc(35 / 30);
      color: #000000;
      margin-bottom: 20px;
    }
  }

  .modal__subtitle {
    font-family: Roboto,sans-serif;
    font-size: 12px;
    line-height: 1.667;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .modal__list-left {
    font-family: Roboto,sans-serif;
    font-size: 12px;
    line-height: 1.3;
  }

  .modal__list-box {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;


    @media screen and (min-width: 1280px) {
      gap: 83px;
    }
  }

  .modal__list-item {
    font-family: Roboto,sans-serif;
    font-size: 12px;
    line-height: 1.3;
    margin-bottom: 10px;
    display: flex;
  }

 .modal__descrpt {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.7;
    margin-bottom: 20px;
    margin-bottom: 20px;
 }

body.show-modal .modal {
  opacity: 1;
  visibility: visible;

  @media screen and (max-width: 768px) {
    transform: translate(-50%) scale(1);
  }

  @media screen and (min-width: 768px) {
    transform: translate(-50%, -50%) scale(1);
  }

  @media screen and (min-width: 1280px) {
    transform: translate(-50%, -50%) scale(1);
  }

  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1) 250ms,
    opacity 500ms cubic-bezier(0.4, 0, 0.2, 1) 250ms,
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;

  .modal__empty {
    margin: 50px auto;
    font-size: 18px;
    font-weight: 500;
  }
}

.movie__card {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(200, 200, 200, 0.8);
  transition: box-shadow 250ms linear;

  @media screen and (min-width: 768px) {
    width: calc((100% - 32px) / 2);
  }

  @media screen and (min-width: 1280px) {
    width: calc((100% - 2 * 16px) / 3);
  }
}

.movie__thumb {
  border-radius: 5px;
  overflow: hidden;

  @media (max-width: 767.98px) {
    width: 280px;
    height: 398px;
  }

  @media screen and (min-width: 768px) {
    width: 336px;
    height: 466px;
  }

  @media screen and (min-width: 1280px) {
    width: 395px;
    height: 574px;
  }
}

.movie__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 250ms linear;

  @media screen and (min-width: 768px) {
    .movie__card:hover &,
    .movie__card:focus & {
      transform: scale(1.05);
    }
  }
}

.movie__card:focus,
.movie__card:hover {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.movie__info {
  padding: 8px 8px 0;

  @media screen and (min-width: 1280px) {
    padding-top: 12px;
  }
}

.movie__name {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
}

.movie__descr {
  color: #ff6b08;
  font-size: 20px;
  font-weight: 500;
}

