html {
  box-sizing: border-box;
  font-family: 'Roboto';
}

body {
  font-family: 'Roboto Regular', sans-serif; /* Использование Roboto Regular в качестве основного шрифта */
  font-weight: 400; /* Задание начертания Regular */
}

h1 {
  font-family: 'Roboto Medium', sans-serif; /* Использование Roboto Medium в заголовках h1 */
  font-weight: 500; /* Задание начертания Medium */
}

.container-modal {
  background-color: var(--white-color);
  width: 806px;
  height: 558px;
  padding: 12px 40px;
}

.info {
  display: flex;
  gap: 16px;
}

.visually-hidden {
//   font-family: 'Roboto';
  margin: 0;
  font-weight: 500;
  font-size: 30px;
  line-height: calc(35 / 30);
  text-transform: uppercase;
  margin-bottom: 21px;
}

// .info__left-part {
// }

// .info__picture {
// }

// .info__right-part {
// }

// .info-movie {
// }

.info-movie__details {
  list-style: none;
  padding: 0;
}

.info-movie__list {
//   font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
  color: var(--text-color-modal);
  margin-bottom: 8px;
}

.info-movie__details .info-movie__list:last-child {
  margin-bottom: 20px;
}

// .info-about {
// }

.info-about__title {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
  text-transform: uppercase;
  margin-bottom: 8px;
}

.info-about__text {
  width: 391px;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(20 / 12);
  margin-bottom: 20px;
}

.info-about__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;
  /* position: absolute; */
  width: 307px;
  height: 42px;
  left: 640px;
  right: 653px;
}

.info-about__btn-watch {
//   font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  display: flex;
  color: var(--accent-color);
  text-transform: uppercase;
  white-space: nowrap;
  flex-direction: row;
  align-items: flex-start;
  padding: 14px 32px;
  gap: 10px;
  width: 165px;
  height: 42px;
  background: var(--accent-color);
  border-radius: 100px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info-about__btn-watch:hover,
.info-about__btn-queue:hover {
  color: white;
  background-color: var(--accent-color);
}

.info-about__btn-queue {
//   font-family: 'Roboto';
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  padding: 14px 24px;
  gap: 10px;
  text-transform: uppercase;
  white-space: nowrap;
  color: var(--accent-color);
  width: 134px;
  height: 42px;
  /* border: 1px solid #000000; */
  border-radius: 100px;
}

// .info-about__btn-close {
// }

// .info-about__icon-btn {
// }

// .js-open-modal {
// }
