:root {
    --background-color: #F0F0F0;
    --background-footer-color: #F7F7F7;
    --accent-color: #B92F2C;
    --white-color: #ffffff;
    --black-color: #000000;
    --text-color-footer: #545454;
    --text-color-modal: #8C8C8C;
    }