:root {
  --background-color: #f0f0f0;
  --background-footer-color: #f7f7f7;
  --accent-color: #b92f2c;
  --white-color: #ffffff;
  --black-color: #000000;
  --text-color-footer: #545454;
  --text-color-modal: #8c8c8c;
  --transition-default: all 0.3s ease;
  --darkbackground-color: #212121;
}
