<footer>
  <div class="container footer-container">
    <div class="footer-text-cont">
      <div class="footer-text-p1">
        <span class="footer-text">© 2021 | All Rights Reserved |&nbsp;</span>
      </div>
      <div class="footer-text-p2">
        <span>Developed with</span>
        <svg width="14" height="13" class="icon-heart">
          <use href="/src/images/svg/icons.svg#heart"></use>
        </svg>
        <span>by</span>
        <span>
          <a class="team-modal-link" href="">GoIT Students</a>
        </span>
      </div>
    </div>
  </div>
  <div class="team-backdrop visually-hidden">
    <div class="team-modal">
      <button type="button" class="modal-close-btn">
        <svg class="icon-close" width="30" height="30">
          <use href="/src/images/svg/icons.svg#close"></use>
        </svg>
      </button>
      <h1 class="modal-title">OUR TEAM</h1>
      <div class="footer-team-members-container">
        <ul class="footer-team-members">
          <li class="member">
            <a class="member-link" href=""
              ><img
                class="team-image"
                src="/src/images/team/konstantin.jpg"
                alt=""
                width="150"
                height="150"
            /></a>
            <div class="member-info">
              <p class="teammate">Konstantin</p>
              <p class="team-role">Team Lead</p>
            </div>
          </li>
          <li class="member">
            <a class="member-link" href=""
              ><img
                class="team-image"
                src="/src/images/team/marina.jpg"
                alt=""
                width="150"
                height="150"
            /></a>
            <div class="member-info">
              <p class="teammate">Marina</p>
              <p class="team-role">Scrum Master</p>
            </div>
          </li>
          <li class="member">
            <a class="member-link" href=""
              ><img
                class="team-image"
                src="/src/images/team/roma.jpg"
                alt=""
                width="150"
                height="150"
            /></a>
            <div class="member-info">
              <p class="teammate">Roman</p>
              <p class="team-role">Scrum Master</p>
            </div>
          </li>
          <li class="member">
            <a class="member-link" href=""
              ><img
                class="team-image"
                src="/src/images/team/irina.jpg"
                alt=""
                width="150"
                height="150"
            /></a>
            <div class="member-info">
              <p class="teammate">Irina</p>
              <p class="team-role">Developer</p>
            </div>
          </li>
          <li class="member">
            <a class="member-link" href=""
              ><img
                class="team-image"
                src="/src/images/team/nicolai.jpg"
                alt=""
                width="150"
                height="150"
            /></a>
            <div class="member-info">
              <p class="teammate">Nicolai</p>
              <p class="team-role">Developer</p>
            </div>
          </li>
          <li class="member">
            <a class="member-link" href=""
              ><img
                class="team-image"
                src="/src/images/team/rasoul.jpg"
                alt=""
                width="150"
                height="150"
            /></a>
            <div class="member-info">
              <p class="teammate">Rasoul</p>
              <p class="team-role">Developer</p>
            </div>
          </li>
          <li class="member">
            <a class="member-link" href=""
              ><img
                class="team-image"
                src="/src/images/team/elya.jpg"
                alt=""
                width="150"
                height="150"
            /></a>
            <div class="member-info">
              <p class="teammate">Elya</p>
              <p class="team-role">Developer</p>
            </div>
          </li>
          <li class="member">
            <a class="member-link" href=""
              ><img
                class="team-image"
                src="/src/images/team/assel.jpg"
                alt=""
                width="150"
                height="150"
            /></a>
            <div class="member-info">
              <p class="teammate">Assel</p>
              <p class="team-role">Developer</p>
            </div>
          </li>
          <li class="member">
            <a class="member-link" href=""
              ><img
                class="team-image"
                src="/src/images/team/nikita.jpg"
                alt=""
                width="150"
                height="150"
            /></a>
            <div class="member-info">
              <p class="teammate">Nikita</p>
              <p class="team-role">Developer</p>
            </div>
          </li>
          <li class="member">
            <a class="member-link" href=""
              ><img
                class="team-image"
                src="/src/images/team/sultanbek.jpg"
                alt=""
                width="150"
                height="150"
            /></a>
            <div class="member-info">
              <p class="teammate">Sultanbek</p>
              <p class="team-role">Developer</p>
            </div>
          </li>
          <li class="member">
            <a class="member-link" href=""
              ><img
                class="team-image"
                src="/src/images/team/anna.jpg"
                alt=""
                width="150"
                height="150"
            /></a>
            <div class="member-info">
              <p class="teammate">Anna</p>
              <p class="team-role">Developer</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
