<header class="library__header">
  <div class="header__container container">
    <nav class="library__nav">
      <ul class="library__nav-list">
        <li class="library__nav-item">
          <a class="library__nav-link" href="../index.html">Home</a>
        </li>
        <li class="library__nav-item">
          <a class="library__nav-link current-link" href="./mylibrary.html"
            >My library</a
          >
        </li>
        <li>
          <button class="toggle__input" type="button">
            <svg class="toggle__icon">
              <use href="../images/svg/icons.svg#sun"></use>
            </svg>
          </button>
        </li>
      </ul>
    </nav>

    <div class="library__btn">
      <ul class="library__btn-list">
        <li class="library__item">
          <a
            class="library__link current-link library__current-link nav__link"
            href="./watchedfilms.html"
            >WATCHED</a
          >
        </li>
        <li>
          <a class="library__link nav__link" href="./queuefilms.html">QUEUE</a>
        </li>
      </ul>
    </div>

    <a class="library_logo-link" href="../index.html">
      <svg class="library__logo-icon">
        <use href="../images/svg/icons.svg#film"></use>
      </svg>
      <span class="logo__title">Filmoteka</span>
    </a>
  </div>
</header>
