<header class="header">
  <div class="header__container container">
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link current-link" href="./index.html"
            >Home</a>        
        </li>
        <li class="nav__item">
          <a class="nav__link" href="./partials/mylibrary.html"
            >My library</a>
        </li>
      </ul>
    </nav>
    
    <form class="search__form">
      <input
        name="query"
        class="search__input"
        type="text"
        placeholder="Movie search"
      />
      <button class="search__submit-button" type="submit">
        <svg class="search__icon" >
          <use href="./images/svg/icons.svg#search"></use>
        </svg>
      </button>
    </form>

    <a class="logo__link" href="./index.html">
      <svg class="logo__icon">
        <use href="./images/svg/icons.svg#film"></use>
      </svg>
      <span class="logo__title">Filmoteka</span>
    </a>

    <!-- <div class="toggle__switch">
      <label>
        <input type="checkbox" class="toggle__input" />
        <span class="toggle__slider"></span>
      </label>
    </div> -->
  </div>
</header>
