<header class="library__header">
  <div class="header__container">
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link link" href="../index.html"
            >Home</a>        
        </li>
        <li class="nav__item">
          <a class="nav__link link current-link" href="./mylibrary.html"
            >My library</a>
        </li>
      </ul>
    </nav>

    <div class="library__btn">
      <ul class="library__btn-list">
        <li class="library__item">
          <a class="library__link current-link library__current-link link" href="./partials/watchedfilms.html">WATCHED</a>
        </li>
        <li><a class="library__link link" href="./queuefilms.html">QUEUE</a></li>
      </ul>
    </div>

    <a class="logo__link link" href="../index.html">
      <svg class="logo__icon">
        <use href="../images/svg/icons.svg#film"></use>
      </svg>
      <span class="logo__title">Filmoteka</span>
    </a>

  </div>
</header>