<h1 class="visually-hidden">Modal card</h1>
<div class="container-modal">
  <div class="info">
    <div class="info__left-part">
      <img src="./banner.jpg" alt="banner" width="375" height="478" />
      <!-- <img
        class="info__picture"
        src="#"
        alt="banner"
        srcset="
          ./images/#-320@1x.jpg  279w,
          ./images/#-320@2x.jpg  558w,
          ./images/#-768@1x.jpg  330w,
          ./images/#-768@2x.jpg  660w,
          ./images/#-1280@1x.jpg 490w,
          ./images/#-320@2x.jpg  980w
        "
        sizes="(min-width: 1280px) 490px, (min-width: 768px) 330px, (min-width: 320px) 279px"
      /> -->
    </div>
    <div class="info__right-part">
      <h1>A fistful of lead</h1>
      <div class="info-movie">
        <ul class="info-movie__details">
          <li class="info-movie__list">
            <a>Vote / Votes</a>
            <!-- <a>7.3 / 1260</a> -->
          </li>
          <li class="info-movie__list">
            <a>Popularity</a>
            <!-- <a>100.2</a> -->
          </li>
          <li class="info-movie__list">
            <a>Original Title</a>
            <!-- <a>A FISTFUL OF LEAD</a> -->
          </li>
          <li class="info-movie__list">
            <a>Genre</a>
            <!-- <a>Western</a> -->
          </li>
        </ul>
      </div>
      <div class="info-about">
        <p class="info-about__title">About</p>
        <p class="info-about__text">
          Four of the West’s most infamous outlaws assemble to steal a huge
          stash of gold from the most corrupt settlement of the gold rush towns.
          But not all goes to plan one is killed and the other three escapes
          with bags of gold hide out in the abandoned gold mine where they
          happen across another gang of three – who themselves were planning to
          hit the very same bank! As tensions rise, things go from bad to worse
          as they realise the bags of gold are filled with lead... they’ve been
          double crossed – but by who and how?
        </p>
      </div>
      <div class="info-about__btn">
        <button class="info-about__btn-watch">add to Watched</button>
      <!-- <button data-modal="#" class="js-open-modal info-about__btn-close">
        <svg class="info-about__icon-btn" height="12" width="12">
          <use href="../images/svg/icons.svg#close"></use>
        </svg>
      </button> -->
      <button class="info-about__btn-queue">add to queue</button>
      </div>
    </div>
  </div>
</div>
